#jssor_1(style='position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:480px;overflow:hidden;visibility:hidden;')
  // Loading Screen
  .jssorl-009-spin(data-u='loading', style='position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);')
    img(style='margin-top:-19px;position:relative;top:50%;width:38px;height:38px;', src='img/event/spin.svg')
  div(data-u='slides', style='cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;')
    div
      img(data-u='image', src='img/event/031.jpg')
      img(data-u='thumb', src='img/event/031-s190x90.jpg')
    div
      img(data-u='image', src='img/event/032.jpg')
      img(data-u='thumb', src='img/event/032-s190x90.jpg')
    div
      img(data-u='image', src='img/event/033.jpg')
      img(data-u='thumb', src='img/event/033-s190x90.jpg')
    div
      img(data-u='image', src='img/event/034.jpg')
      img(data-u='thumb', src='img/event/034-s190x90.jpg')
    div
      img(data-u='image', src='img/event/035.jpg')
      img(data-u='thumb', src='img/event/035-s190x90.jpg')
    div
      img(data-u='image', src='img/event/036.jpg')
      img(data-u='thumb', src='img/event/036-s190x90.jpg')
    div
      img(data-u='image', src='img/event/037.jpg')
      img(data-u='thumb', src='img/event/037-s190x90.jpg')
    div
      img(data-u='image', src='img/event/038.jpg')
      img(data-u='thumb', src='img/event/038-s190x90.jpg')
    div
      img(data-u='image', src='img/event/039.jpg')
      img(data-u='thumb', src='img/event/039-s190x90.jpg')
    div
      img(data-u='image', src='img/event/040.jpg')
      img(data-u='thumb', src='img/event/040-s190x90.jpg')
  // Thumbnail Navigator
  .jssort101(data-u='thumbnavigator', style='position:absolute;left:0px;bottom:0px;width:980px;height:100px;background-color:#000;', data-autocenter='1', data-scale-bottom='0.75')
    div(data-u='slides')
      .p(data-u='prototype', style='width:190px;height:90px;')
        .t(data-u='thumbnailtemplate')
        svg.cv(viewBox='0 0 16000 16000')
          circle.a(cx='8000', cy='8000', r='3238.1')
          line.a(x1='6190.5', y1='8000', x2='9809.5', y2='8000')
          line.a(x1='8000', y1='9809.5', x2='8000', y2='6190.5')
  // Arrow Navigator
  .jssora106(data-u='arrowleft', style='width:55px;height:55px;top:162px;left:30px;', data-scale='0.75')
    svg(viewBox='0 0 16000 16000', style='position:absolute;top:0;left:0;width:100%;height:100%;')
      circle.c(cx='8000', cy='8000', r='6260.9')
      polyline.a(points='7930.4,5495.7 5426.1,8000 7930.4,10504.3 ')
      line.a(x1='10573.9', y1='8000', x2='5426.1', y2='8000')
  .jssora106(data-u='arrowright', style='width:55px;height:55px;top:162px;right:30px;', data-scale='0.75')
    svg(viewBox='0 0 16000 16000', style='position:absolute;top:0;left:0;width:100%;height:100%;')
      circle.c(cx='8000', cy='8000', r='6260.9')
      polyline.a(points='8069.6,5495.7 10573.9,8000 8069.6,10504.3 ')
      line.a(x1='5426.1', y1='8000', x2='10573.9', y2='8000')
