.row.mx-auto
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Prerit Jain
      p.text-muted Vice President
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Het Shah
      p.text-muted General Secretary
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Karan Nandankar
      p.text-muted Assistant Secretary
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Ankit Raj
      p.text-muted Treasurer 
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
.row
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Ishan
      p.text-muted Public Relations Officer
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Gursharan Ahir
      p.text-muted HR Manager(UG)
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Prabhat Ranjan
      p.text-muted School Development Officer
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Kumar Aniket
      p.text-muted Cheif Fundraising Officer
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
.row
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Manoj Maraskhole
      p.text-muted Chief Operating Officer,Light
      br
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Abhishek Pandey 
      p.text-muted Chief Sponsorship Officer,Light
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Gaurav Singh
      p.text-muted Executive Officer(RS)
      br
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Jaiprakash Nagar
      p.text-muted HR Manager(RS)
      br
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
.row
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Jayant Agarwal
      p.text-muted Executive Officer(PG)
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Nivedita Dubey
      p.text-muted HR Manager(PG)
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
