.row.mx-auto
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Anubhav Khandelwal
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Bhavya Rai
      br
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Chitranshu Ranjan
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Devaki Nandana V V 
      p.text-muted Senior Executive Member 
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
.row
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Dhruv Singhal
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Mahaveer Rulaniya
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Nandini Jalan
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Nikhil Popli
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
.row
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Nivedita Majee
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Pradnya A Shinde 
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Pradyun
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Pratik Banka
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
.row
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Raj Kumar
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Raunak Raj
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Sachi Gongle
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Shivansh Sethi
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
.row
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Srajan Asthana
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Sumedh Bhagat
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Tanishka Agarwal
      p.text-muted Senior Executive Member
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in              
