.row
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Rohit Nama
      p.text-muted Design Team Head
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Shubham Shanker
      p.text-muted Design Team Head
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Mihir Gupta
      p.text-muted Web Design Head
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Mayank Sonu
      p.text-muted EaCh & SRC Team Head 
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
.row
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Kartik Thakker
      p.text-muted Finance Team Head
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Saurav K Nishant
      p.text-muted Finance Team Head
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Ayush Khatarkar
      p.text-muted Media Team Head
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Govind K Gupta
      p.text-muted Media Team Head
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
.row
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Abhishek Jain
      p.text-muted Sponsorship Team Head
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 G V Sai Harshit 
      p.text-muted Sponsorship Team Head
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Jalaj Harkawat
      p.text-muted Sponsorship Team Head
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Yash R Gupta
      p.text-muted Sponsorship Team Head
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
.row
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Alok Bharti
      p.text-muted SRC Team Head
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Chinmay Krishna
      p.text-muted SRC Team Head
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Manupati Sandhya
      p.text-muted SRC Team Head
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-sm-3
    .team-member
      img.mx-auto.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Teerath Kumar
      p.text-muted SRC Team Head
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
