extends layout

block content
  // Header
  header.masthead-au#about-uss
    .container
      .intro-text
        .intro-heading.text-uppercase.my-auto About Us
  .full
    .row.top
      .col-md-2
      blockquote#message.col-md-6.blockquote.text-left
        br
        br
        |       Gopali Youth Welfare Society (GYWS) was established with the objectives of making people aware of problems faced by the modern society. It also aims at helping people's social,economic and cultural development and encouraging them to find out solutions
        |		to there problems on the basis of the locally available resources.
        br
        footer.blockquote-footer.text-right -Mr. Mrinal Kanti Bhanja, Founder, GYWS
      .col-md-auto.my-auto.text-center
        img.b7.rounded-circle.img-fluid(src='img/about/founder_image.PNG', style='margin-top:15%;width:250px;', border:"10"='')
    .row.pad
      .col-md-4.container.p4(style='margin-top:15%;')
        .text-center
          h3 WHO WE ARE?
          br
          p.text-cont.text-left
            | Gopali Youth Welfare Society is a registered voluntary non-governmental organisation run by IIT Kharagpur students
            | along with some faclity members with the support of local members from Gopali.
            br
            br
            |           This NGO at IIT Kharagpur was established in 2002 with a mission to improve the living standard of the people of Gopali,
            |           a village near IIT Kharagpur campus (around 5km from it). It was registered in 2004 under the West Bengal Societies registration act of 1961
            |           with Reg. No S/IL/23893. This is an act of social service by IIT Kharagpur students with a motivation of returning something back to the society.
            br
            br
            |           Even before GYWS being a listed non governmental organisation, it has been advancing with the twin objectives of making the youth and society aware
            |           of and ensuring socio-economic welfare for underprivileged and weaker sections of the society. Through its programs of free education, women empowerment,
            |           social awareness campaigns and vocational training, this example NGO has seen many lives changed for better.
      .col-md-2.my-auto
        img.rounded.mx-auto.d-block(src='img/about/background5.png')
      .col-md-4.container.text-center.p4(style='margin-top:15%;')
        div
          h3 OUR OBJECTIVE
          p.text-cont.text-left
            | The society is a non-profit seeking organisation and shall: 
            br
          ul.text-cont.text-left
            li
              | Work for the overall welfare and all round development of vlinerable sections of the society and to promote sustainable development.
            li
              | Provide education to all children by setting educational institutions and library.
            li
              | Work for the rural upliftment by improving health related facilities, water supply, irrigation, agricliture, and cottage and village industries.
            li
              | Facilitate the people to get the available assistance from the different departments of government and other welfare societies.
            li
              | Help and assist the meritorious but needy students of all communities for continuing their studies including the dropouts by bringing them back to schools.
            li
              | Organize health check-up programs for rural community in collaboration with other NGO's and health centres and cooperating in the activities on controlling Plise Polio, AIDS and other diseases.
            li
              | Help and assist the aged widows, sick, helpless and indigent persons to through health care service and other rehabilitation programs.
            li
              | Empower the community through formation and nurturing of self-dependent groups in the communities and capacity development through vocational training.
            li
              | Publish annual report of the society, brochures and maintaining research programs in rural areas on social development issues.
          p
    .row.pad
      .col-md-3.container.p4(style='margin-top:15%;')
        .text-center
          h3 VISION
          p.text-cont.text-left
            | Gopali youth welfare society comes forward to people to help them fulfil their dream of living an independent and prosperous life.
            | We strongly believe > India‟s progress depends in the progress of its weakest links.
            | We work hard to bring together all the underprivileged sections of society and enable them to establish a sustainable society where each person will have the
            | potential to dream big as well as have the chances of fulfilling his dreams.
      .col-md-2.my-auto
        img.rounded.mx-auto.d-block(src='img/about/background4.png')
      .col-md-3.container.p4(style='margin-top:15%;')
        .text-center
          h3 MISSION
          p.text-cont.text-left
            | To improve the standard of living of the people of villages like Gopali by utilizing locally available resources.
            | We also want to make people aware of their problems and also try to find the solutions to those problems.
