extends layout

block content
  // Header
  header.masthead-au#about-uss
    .container
      .intro-text
        .intro-heading.text-uppercase.my-auto Jagriti Vidya Mandir
          h6 (CHILD IS PRECIOUS BUT CHILDHOOD IS PRICELESS)
  .full
    .shortintro
      p
        | Jagriti Vidya Mandir is an English medium school which aims to 
        br
        |  provide quality education to underprivileged children absolutely, free of cost.
    .container-fluid
      .row.xrow
        .col-md-3.xbox
          i.fa.fa-university.symbols
          br
          br
          .jvm_intro
            p
              | JVM is established in April, 2008. 
              br
              |  Its Main motto is ❝ To educate each and every child for a better tommorow ❞.
        .col-md-3.xbox
          i.fa.fa-road.symbols
          br
          br
          .jvm_intro
            p
              | It is located in Tangasool village,
              br
              |  1.5 kilometers from Salua Air Force Station
              br
              |  which in turn is 5 kilometers away from IIT campus.
        .col-md-3.xbox
          i.fa.fa-child.symbols
          br
          br
          .jvm_intro
            p
              | At present, school is up to 5th standard 
              br
              | and more than 240+ students are enrolled 
              br
              |  from nursery to 5th standard and 11+ 
              br
              | teachers with 3 aya's and some helpers.
    br
    .row.xrow
      .col-md-1.xbox
      .col-md-3.xbox
        i.fa.fa-eye.symbols
        br
        br
        .jvm_intro
          p
            | JVM aspires to be a residential full-fledged school for students of under previledged families offering variety of courses at +2 level, vocational training and career guidance.
      .col-md-3.xbox
        i.fa.fa-history.symbols
        br
        br
        .jvm_intro
          p
            strong Future Plans:
            |  We seek to take Jagriti Vidya Mandir to beyond its current primary level to complete school cum hostel 
            span#dots ....
            span#more
              | catering to the needs of over 500 students. The facility will not only provide education up to 12th grade, but will also take responsibility of ensuring that its students settle in their professional or educational lives before they leave.
            a#seeMore(onclick='myFunction()') see more
            br
            | Visit the following link to read complete proposal of future plan.
            a(href='http://tinyurl.com/jvm-construction', target='_blank') Click Here
      .col-md-3.xbox
    .row
      .col-md-2
      #quotes.col-md-8
        p
          span.symbols ❝
          | Education is the most powerful weapon which you can use to change the world.
          span.symbols ❞
        h5
          span.symbols ☛
          | Nelson Mandela
      .col-md-2
    hr
    div
      h3(style='text-align: center; margin-bottom: 5%; margin-right: 5%; text-decoration: underline;') Events
      .row.xrow
        .col-md-3.xbox
          img.rounded-circle(src='img/portfolio/04-thumbnail (copy).jpg')
          h5 Sports Day
          p
            | On the annual day of Jagriti Vidya Mandir this event is conducted to engage students in various kinds of cultural activities and also honour the teachers and students. It helps to bring out the talent of the student and develop an interest in extracurricular activities.
        .col-md-3.xbox
          img.rounded-circle(src='img/portfolio/04-thumbnail (copy).jpg')
          h5 Teachers Day
          p
            | On the annual day of Jagriti Vidya Mandir this event is conducted to engage students in various kinds of cultural activities and also honour the teachers and students. It helps to bring out the talent of the student and develop an interest in extracurricular activities.
        .col-md-3.xbox
          img.rounded-circle(src='img/portfolio/04-thumbnail (copy).jpg')
          h5 Republic Day
          p
            | On the annual day of Jagriti Vidya Mandir this event is conducted to engage students in various kinds of cultural activities and also honour the teachers and students. It helps to bring out the talent of the student and develop an interest in extracurricular activities.
      .row.xrow
        .col-md-1.xbox
        .col-md-3.xbox
          img.rounded-circle(src='img/portfolio/04-thumbnail (copy).jpg')
          h5 Aashyein
          p
            | On the annual day of Jagriti Vidya Mandir this event is conducted to engage students in various kinds of cultural activities and also honour the teachers and students. It helps to bring out the talent of the student and develop an interest in extracurricular activities.
        .col-md-3.xbox
          img.rounded-circle(src='img/portfolio/04-thumbnail (copy).jpg')
          h5 Independence Day
          p
            | On the annual day of Jagriti Vidya Mandir this event is conducted to engage students in various kinds of cultural activities and also honour the teachers and students. It helps to bring out the talent of the student and develop an interest in extracurricular activities.
        .col-md-1.xbox
      .col-md-2
    hr
  
