extends layout

block content
  // Header
  header.masthead-au#about-uss
    .container
      .intro-text
        .intro-heading.text-uppercase.my-auto Jagriti Vidya Mandir
          h6 (CHILD IS PRECIOUS BUT CHILDHOOD IS PRICELESS)
  .shortintro
    p
      | Jagriti Vidya Mandir is an English medium school which aims to 
      br
      |  provide quality education to underprivileged children absolutely, free of cost.
  .container-fluid
    .row.xrow
      .col-md-3.xbox
        img(src='img/124.png', width='27.5%')
        br
        br
        .jvm_intro
          p
            | JVM was established in April, 2008. 
            br
            |  Its Main motto is ❝ To educate each and every child for a better tommorow ❞.
      .col-md-3.xbox
        span.fa-4x
          i.fas.fa-road.fa-stack-1x.text-primary
        br
        br
        .jvm_intro
          p
            | It is located in Tangasool village,
            br
            |  1.5 kilometers from Salua Air Force Station
            br
            |  which in turn is 5 kilometers away from IIT campus.
      .col-md-3.xbox
        img(src='img/125.png',width='27.5%')
        br
        br
        .jvm_intro
          p
            | At present, school is up to 5th standard 
            br
            | and 240+ students are enrolled 
            br
            |  from nursery to 5th standard and 11+ 
            br
            | teachers.
  br
  .row.xrow
    .col-md-1.xbox
    .col-md-3.xbox
      img(src='img/126.png', width='27.5%')
      br
      br
      .jvm_intro
        p
          | JVM aspires to be a residential full-fledged school for students of under previledged families offering variety of courses at +2 level, vocational training and career guidance.
    .col-md-3.xbox
      img(src='img/127.png', width='27.5%')
      br
      br
      .jvm_intro
        p
          strong Future Plans:
          |  We seek to take Jagriti Vidya Mandir to beyond its current primary level to complete school cum hostel 
          br
          | catering to the needs of over
          span#dots ....
          span#more
            | 500 students.  The facility will not only provide education up to 12th grade, but will also take responsibility of ensuring that its students settle in their professional or educational lives before they leave.
          a#seeMore(onclick='myFunction()') see more
    .col-md-3.xbox
  .row
    .col-md-2
    #quotes.col-md-8
      p
        span.symbols ❝
        | Education is the most powerful weapon which you can use to change the world.
        span.symbols ❞
      h5
        span.symbols ☛
        | Nelson Mandela
    .col-md-2
  hr
