extends layout

block content
  // Header
  header#about-uss.masthead-au
    .container
      .intro-text
        .intro-heading.text-uppercase.my-auto MEMBERS
  .row.content-mem
    .col-md-2.col-sm-1(style='position:sticky')
      #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
        a#v-pills-profile-tab.nav-link(data-toggle='pill', href='#v-pills-alumni', role='tab', aria-controls='v-pills-profile', aria-selected='false') Our Alumni
        a#v-pills-messages-tab.nav-link(data-toggle='pill', href='#v-pills-advisory', role='tab', aria-controls='v-pills-messages', aria-selected='false') Advisory Committe
        a#v-pills-settings-tab.nav-link(data-toggle='pill', href='#v-pills-gb', role='tab', aria-controls='v-pills-settings', aria-selected='false') Governing Body 
        a#v-pills-settings-tab.nav-link(data-toggle='pill', href='#v-pills-coordiators', role='tab', aria-controls='v-pills-settings', aria-selected='false') Coordinators
        a#v-pills-messages-tab.nav-link(data-toggle='pill', href='#v-pills-heads', role='tab', aria-controls='v-pills-messages', aria-selected='false') Heads
        a#v-pills-home-tab.nav-link.active(data-toggle='pill', href='#v-pills-SEM', role='tab', aria-controls='v-pills-home', aria-selected='true') Senior Executive Members
    .col-md-7.col-sm-5.mem-names
      #v-pills-tabContent.tab-content
        #v-pills-SEM.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-SEM-tab')
          include members/sem
        #v-pills-alumni.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-profile-tab')
          include members/alumni
        #v-pills-advisory.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-messages-tab') 
          include members/advisory
        #v-pills-coordiators.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-settings-tab')
          include members/coord
        #v-pills-heads.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-settings-tab')
          include members/heads
        #v-pills-gb.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-settings-tab') 
          include members/gb
