nav.navbar.stickyt-top.navbar-expand-lg.navbar-dark.bg-dark
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='#')
        img(src='./img/logo.png', style='max-height:150px;')
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Facilities
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Projects
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') on FSW
              a.dropdown-item(href='#') General
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Students
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Doctoral
              a.dropdown-item(href='#') PG
              a.dropdown-item(href='#') UG
              a.dropdown-item(href='#') Interns
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Publications
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') on FSW
              a.dropdown-item(href='#') General
          li.nav-item
            a.nav-link(href='#') Calendar