extends layout

block content
  // Header
  header.masthead-au#about-uss
    .container
      .intro-text
        .intro-heading.text-uppercase.my-auto Prayas
  .full  
    .shortintro
      p
        | Gopali Youth Welfare Society is providing free of education to underprivileged childrens, and on the other hand working on the welfare of peoples of Gopali village. Prayas activities are mainly conducted by our PG and RS team members. We are working on the sustainable development, youth upliftment, and our another program, Helpping hands. Our main aim is to improve living standard of the peoples of Gopali Village
    .row
      #quotes.col-md-12.ybox
        img(src='img/portfolio/04-thumbnail (copy).jpg', style='border-radius: 50%')
        br
        br
        h4 We have worked with the team /** team name**/  in these villages 
        p
          | We have conducted survey with ***. Through this survey we came to know about the problems which are coming in the way of improvment of living standards of these village peoples and their solutions. Now, we can take many important steps.
        br
        br
        br
        h5 /** View of the /*team*/ members towards this initiative **/.
        i.fa.fa-id-card-alt
        p(style='margin-left: 5%; margin-right: 5%')
          span.symbols ❝
          | Changing the lives of children is a continuous process. Nothing can be done in a limited period. As individuals we have to continue to give support by way of financial help,social help, time as well as other resources. I believe in continuity and devotion without deviation. GYWS is doing just that.
          span.symbols ❞
        p
          span.symbols ☛
          | Moza bint Nasser
    .container-fluid.layout
      h3 Programs under PRAYAS
      #div_h4_c.row.arow
        .col-6.dbox
          h4.h4_c Live Project
          p.h4_p_c
            | We are conducting survey with NSS units and making a plan for sustainable development of Gopali village
        .col-3.dbox
          i.fa.fa-desktop
      #div_h4_t.row.arow(dir='rtl')
        .col-6.dbox
          h4.h4_t Youth Uplifment
          p.h4_p_t We are providing training to the youth so that they can earn for their family.
        .col-3.dbox
          i.fa.fa-book
      #div_h4_c.row.arow
        .col-6.dbox
          h4.h4_c Helping hands
          p.h4_p_c
            | Throygh this program school and college children are requested to collect donation for social work.
        .col-3.dbox
          i.fa.fa-language
    hr
    #pfp.shortintro(style='margin-top: 2.5%;')
      h1 Pedal For Progress
      p
        | With this initiative we aim to provide bicycle to children who cannot afford to buy there own.It came to our attention that many of the students of IIT simply discard off there bicycle when graduating.These cycles are rarely made use of.We collected the old cycles which are still in usuable condition and fix them up as best possible and give to children, where it is used in much better way.
      br
      br
    hr
