extends layout

block content
  // Header
  header.masthead-udy#about-uss
    .container
      .intro-text
        .intro-heading.text-uppercase.my-auto Udyat
  .full
    .shortintro
      p
        | Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits. Educational methods include storytelling, discussion, teaching, training, and directed research. Education frequently takes place under the guidance of educators, however learners may also educate themselves. Education can take place in formal or informal settings and any experience that has a formative effect on the way one thinks, feels, or acts may be considered educational.
    .row
      .col-md-2
      #quotes.col-md-8
        p
          span.symbols ❝
          | The right to a quality education is, I believe, the perfect path to bridge the gap between different cultures and to reconcile various civilizations. Without such a right, the values of liberty, justice and equality will have no meaning. Ignorance is by far the biggest danger and threat to humankind.
          span.symbols ❞
        br
        h5
          span.symbols ☛
          | Moza bint Nasser
      .col-md-2
    hr
    .container-fluid.layout
      h3 Programs under UDYAT
      #div_h4_c.row.arow
        .col-6.dbox
          h4.h4_c Computer Coaching
          p.h4_p_c
            | The students of JVM are taught how to operate computers in this initiative.Coaching is held at GYWS Office.Students have learnt the basics of Computer through this.We plan to extend this initiative for the students of other schools too.
        .col-3.dbox
          i.fa.fa-desktop
      #div_h4_t.row.arow(dir='rtl')
        .col-6.dbox
          h4.h4_t Teachers Training
          p.h4_p_t
            | The Post Graduate and research scholars of GYWS along with some other IIT students train teachers to converse in English and improve their ability to teach. The teachers' training held adjacent to GYWS office.
        .col-3.dbox
          i.fa.fa-book
      #div_h4_c.row.arow
        .col-6.dbox
          h4.h4_c Activity Based Learning
          p.h4_p_c
            | A weelkly Science based fun activity has been conducted in Jagriti Vidya Mandir by the students of IIT Kharagpur. The students conduct sessions to project carious science and textbook fundamentals in an Involved manner, 
            span#dots ....
            span#more
              | so that it not only makes the children and teachers happy but push them to become curios and to start querying, what they sees in surrounding.
            a#seeMore(onclick='myFunction()') see more
            br
            | For Further Details:   
            a(href='https://scifungyws.github.io/', target='_blank') Activity Based Learning
        .col-3.dbox
          i.fa.fa-language
      #div_h4_t.row.arow(dir='rtl')
        .col-6.dbox
          h4.h4_t Sunday Coaching
          p.h4_p_t
            | Along with the regular school, JVM students are also taught by the post graduates and research scholars of GYWS along with some IIT Kharagpur students on Sundays.They are motivated to study hard and also are given coaching for JNV entrance test.
        .col-3.dbox
          i.fa.fa-university
    hr
