extends layout

block content
  // Header
  header.masthead-udy#about-uss
    .container
      .intro-text
        .intro-heading.text-uppercase.my-auto Udyat
  .row
    .col-md-2
    #quotes.col-md-8
      p
        span.symbols ❝
        | The right to a quality education is, I believe, the perfect path to bridge the gap between different cultures and to reconcile various civilizations. Without such a right, the values of liberty, justice and equality will have no meaning. Ignorance is by far the biggest danger and threat to humankind.
        span.symbols ❞
      br
      h5
        span.symbols ☛
        | Moza bint Nasser
    .col-md-2
  hr
  .container-fluid.layout
    h3 Programs under UDYAT
    #div_h4_c.row.arow
      .col-6.dbox
        h4.h4_c Recreational Activities
        p.h4_p_c
          | We often organise some workshops as well as some recreational visits for Jagriti Vidya Mandir(JVM) students, which can enhance their view how they see the world.
      .col-3.dbox
        img(src='img/127.png', width='50%')
    #div_h4_t.row.arow(dir='')
      .col-3
      .col-3.dbox
        img(src='img/125.png', width='50%')
      .col-6.dbox
        h4.h4_t Teachers Training
        p.h4_p_t
          | The Undergraduate and Research Scholars of GYWS along with some other IIT students train teachers to converse in English and improve their ability to teach. The teacher's training held adjacent to GYWS office.
    #div_h4_c.row.arow
      .col-6.dbox
        h4.h4_c Activity Based Learning
        p.h4_p_c
          | A weelkly Science based extra-curricular activity has been conducted in Jagriti Vidya Mandir by the students of IIT Kharagpur. The students conduct sessions to project various science and textbook fundamentals in an Involved manner, 
          span#dots ....
          span#more
            | so that it not only makes the children and teachers happy but push them to become curios and to start querying, what they sees in surrounding.
          a#seeMore(onclick='myFunction()') see more
          br
          | For Further Details:   
          a(href='https://scifungyws.github.io/', target='_blank') Activity Based Learning
      .col-3.dbox
        img(src='img/131.png', width='50%')
  hr
