.col-md-12 {
	margin-top: 7em;
}
.zbox {
	text-align: center;
	background-image: url("../img/header-bg.jpg");
 	background-repeat: no-repeat;
  	background-attachment: scroll;
  	background-position: center center;
  	background-size: cover;
}