.row.mx-auto
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Prof. Damodar Maity
      p.text-muted Dept Of Civil Engg.
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Prof. Adrijit Goswami
      p.text-muted Dept. of Mathematics
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Prof. Sudipto Chakrabarty
      p.text-muted Dept of Chem. Engg.
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Prof. DK Maiti
      p.text-muted Dept. of Aerospace Engg. 
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
.row
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Prof. Amit Patra
      p.text-muted Dept of Electrical Engg.
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Prof.Mrigank Sharad
      p.text-muted RMSEE
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Prof. Sudipta Dutta
      p.text-muted Dept. of Physics
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Prof Dilip K Swain
      p.text-muted Dept of Agri. Engg.
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
.row
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Prof. Sasmita Mohakud
      p.text-muted Dept. of Physics
      br
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Prof. NR Mandal 
      p.text-muted Dept. of Ocen Engg.
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Prof. Bhaskar Bhownick
      p.text-muted RSMEE
      br
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Prof. Seema Singh
      p.text-muted Dept. of HSS
      br
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
.row
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Prof. H R Tiwari
      p.text-muted Dept. of HSS
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
