.row.mx-auto
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Anshika Shristi
      p.text-muted UG Coordinator
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Shivam Pandey
      p.text-muted UG Coordinator
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Hemant Nagar
      p.text-muted PG Coordinator
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Vinay Arya  
      p.text-muted PG Coordinator 
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
.row
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Abhishek
      p.text-muted RS Coordinator
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Srikant Mudgala
      p.text-muted Pryas Coordinator
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
  .col-lg-3.col-md-4.col-sm-6
    .team-member
      img.mx-auto.img-fluid.rounded-circle(src='img/members/blank.jpg', alt='')
      h4 Sumit Sen
      p.text-muted Light Coordinator
      ul.list-inline.social-buttons
        li.list-inline-item
          a(href='#')
            i.fas.fa-envelope
        li.list-inline-item
          a(href='#')
            i.fab.fa-facebook-f
        li.list-inline-item
          a(href='#')
            i.fab.fa-linkedin-in
