extends layout

block content
  // Header
  header.masthead-au#about-uss
    .container
  .container-fluid
    .full
    .row.pad
      .col-md-auto(style='margin-top:4%;')
        .text-center
          h3 WHO WE ARE?
          br
          .parallax1.container-fluid
            .text-cont.text-left.box1
              | Gopali Youth Welfare Society is a registered voluntary non-governmental organization run by IIT Kharagpur students along with some faculty members with the support of local members from Gopali.
              br
              br
              |  This NGO at IIT Kharagpur was established in 2002 with a mission to improve the living standard of the people of Gopali, a village near IIT Kharagpur campus (around 5km from it). It was registered in 2004 under the West Bengal Societies registration act of 1961 with Reg. No S/IL/23893. This is an act of social service by IIT Kharagpur students with a motivation of returning something to the society.
              br
              br
              |  Even before GYWS being a listed nongovernmental organization, it has been advancing with the twin objectives of making the youth and society aware of and ensuring socio-economic welfare for underprivileged and weaker sections of the society. Through its programs of free education, women empowerment, social awareness campaigns, and vocational training, this example NGO has seen many lives changed for better.
  .row.justify-content-md-center(style='margin-top:-12%;')
    .col-md-12.box4.bg-light
      p.text-cont.text-center
      h2.text-center(style=' opacity:1.2;') OUR OBJECTIVE
      .text-cont.text-left
        | The society is a non-profit seeking organisation and shall:
        p
        ul
          li
            | Work for the overall welfare and all-round development of vulnerable sections of the society and to promote sustainable development.
          li
            | Provide education to all children by setting educational institutions and library.
          li
            | Work for the rural upliftment by improving health-related facilities, water supply, irrigation, agriculture, and cottage and village industries.
          li
            | Facilitate the people to get the available assistance from the different departments of government and other welfare societies.
          li
            | Help and assist the meritorious but needy students of all communities for continuing their studies including the dropouts by bringing them back to schools.
          li
            | Organize health check-up programs for the rural community in collaboration with other NGO's and health centers and cooperating in the activities of controlling Pulse Polio, AIDS and other diseases.
          li
            | Help and assist the aged widows, sick, helpless and indigent persons through health care service and other rehabilitation programs.
          li
            | Empower the community through the formation and nurturing of self-dependent groups in the communities and capacity development through vocational training.
          li
            | Publish the annual report of the society, brochures and maintaining research programs in rural areas on social development issues.
    .parallax2
      .row
        .col-md-6
          .text-center.box2
            h3 VISION
            p.text-cont.text-left
              | We strongly believe India's progress depends on theprogress of its weakest links.
              | .We work hard to bring together all the underprivileged sections of society and enable them to establish a sustainable society where each person will have the
              | potential to dream big as well as have the chances of fulfilling his dreams.
      .row
        .col-md-6
        .col-md-6
          .text-center.box3
            h3 MISSION
            p.text-cont.text-left
              | To improve the standard of living of the people of villages like Gopali by utilizing locally available resources.
              | We also want to make people aware of their problems and also try to find solutions to those problems.
              br
              br
    .row.top
      .col-md-2
      blockquote#message.col-md-6.blockquote.text-left
        br
        br
        |  Gopali Youth Welfare Society (GYWS) was established with the objectives of making people aware of problems faced by modern society. It also aims at helping people's social, economic and cultural development and encouraging them to find out solutions to there problems based on the locally available resources.
        br
        footer.blockquote-footer.text-right -Mr. Mrinal Kanti Bhanja, Founder, GYWS
      .col-md-auto.my-auto.text-center
        img.b7.rounded-circle.img-fluid(src='img/about/founder_image.PNG', style='margin-top:15%;width:250px;', border:"10")
