doctype html
meta(name='author', content='')
head
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name='description', content='')
title  #{title}
link(rel='shortcut icon', type='image/x-icon', href='/img/logo.png')
//-Bootstrap core CS
link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
//-Custom fonts for this template
link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js')
link(href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css', rel='stylesheet')
link(href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css', rel='stylesheet')
script(src='js/script.js', type='text/javascript')
script(src='js/jssor.slider-27.5.0.min.js', type='text/javascript')
script(src='js/slider1.js', type='text/javascript')

//- Custom styles for this template
link(href='css/main.css', rel='stylesheet')
link(href='css/au.css', rel='stylesheet')
link(href='css/contact.css', rel='stylesheet') 
link(href='css/members.css', rel='stylesheet')
link(href='css/support.css', rel='stylesheet')
link(href='css/map.css', rel='stylesheet')    
link(href='css/initiatives.css', rel='stylesheet')
link(href='css/timeline.css', rel='stylesheet')
link(href='css/media-gallery-cards.css', rel='stylesheet')
link(href='css/top.css', rel='stylesheet') 
link(href='css/gal.css', rel='stylesheet')         
body#page-top
//- Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top(style='padding-top: 0px;padding-bottom: 0px;')
  .container-fluid
    span.navbar-brand.navbar-left
      a.js-scroll-trigger.order-md-first.order-0(href='#page-top')
        img(src='img/logo.png', alt='', style='width:12em')
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      | Menu
      i.fas.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.text-uppercase.ml-auto
        li.nav-item
          a.nav-link.js-scroll-trigger(href='/') HOME
        li.nav-item
          a.nav-link.js-scroll-trigger(href='/#{atag}') ABOUT US
        li.nav-item
          a.nav-link.js-scroll-trigger(href='/#services') INITIATIVES
        li.nav-item.dropdown
          a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') FINANCIALS
          .dropdown-menu.bg-dark.border-0(aria-labelledby='navbarDropdown')
            a.dropdown-item.x(href='#') Annual Reports
            a.dropdown-item.x(href='#') Impact Reports
            a.dropdown-item.x(href='#') 80 G Certificate 
        li.nav-item
          a.nav-link.js-scroll-trigger(href='/members') MEMBERS
        li.nav-item
          a.nav-link.js-scroll-trigger(href='/media') MEDIA
        li.nav-item
          a.nav-link.js-scroll-trigger(href='/donate') DONATE
        li.nav-item
          a.nav-link.js-scroll-trigger(href='/contact') CONTACT US 
 block content

//- Footer
footer
 .container
   .row
     .col-md-4
       span.copyright Copyright © GYWS Web Team 2019
     .col-md-4
       ul.list-inline.social-buttons
         li.list-inline-item
           a(href='#')
             i.fab.fa-twitter
         li.list-inline-item
           a(href='#')
             i.fab.fa-facebook-f
         li.list-inline-item
           a(href='#')
             i.fab.fa-linkedin-in
     .col-md-4
       ul.list-inline.quicklinks
         li.list-inline-item
           a(href='#') Privacy Policy
         li.list-inline-item
           a(href='#') Terms of Use   


script(type='text/javascript').
   jssor_1_slider_init();
//- Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
//- Plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')
//- Contact form JavaScript
script(src='js/jqBootstrapValidation.js')
script(src='js/contact_me.js')
//- Custom scripts for this template
script(src='js/agency.js')
script(src='js/map.js')
script(src='js/slick.min.js', type='text/javascript')
